@charset "UTF-8";

body{
    background-color: rgb(58, 74, 90);
    margin: 0;
    padding: 0;
}

/* Menu */

.menu{
    background-color: black;
    padding: 1rem;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu ul li{
    display: inline;
}

.menu ul li p{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.menu ul li p:hover{
    background-color: rgb(58, 74, 90);
    border-radius: 5px;
}

/* escondido menu */

.menu ul li p > a{
    display: none;
}
.menu ul li p:hover > a{
    display: block;
    font-size: 1em;
    color: white;
    color: ;
    margin-top: 1em;
}

/* Foto-Perfil */

.img-perfil{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.img-perfil img{
    height: 400px;
    width: 400px;
    border-radius: 30%;
    border: 5px solid black;
}

.rodape{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.rodape table tr th img{
    height: 25px;
    margin-top: 10px;
}

